@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@layer components{

    .b-color{
        @apply border-[#333444];
    }

    .bg{
        @apply bg-[#181820] text-[#f5f5f5];
    }
}


.icons.selected svg path{
    fill: #c3f1e2;
}

.icons{
    transition: background 550ms;
}